Options All -Indexes

RewriteEngine On
DirectoryIndex public/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Files readme.md>
    Order allow,deny
    Deny from all
</Files>

<Files .gitignore>
    Order allow,deny
    Deny from all
</Files>

<Files .editorconfig>
    Order allow,deny
    Deny from all
</Files>

<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Files .env.example>
    Order allow,deny
    Deny from all
</Files>
